body{
    font-family: 'Roboto', sans-serif;
}
.container{
width: 1140px;
margin: 0 auto;
background-color: #F7F7F7;
}
/*Styluri spacifice comune*/
.tr{
    text-align: right;
}
.tl{
    text-align: left;
}
.tc{
    text-align: center;
}
/*Styluri spacifice sectiunii*/
header{
    text-align: center;
}
header h1{
    font-weight: 700;
    font-size: 2em;
    margin-bottom: 0.5em;
}
header p{
color: #777777;
margin-bottom: 2.5em;
}

#features.table{
display: table;
}
#features .table .row{
display: table-row;
width: 30%;
}
.row div{
    width: 40%; 
}
.row div img{
    width: 80%;  
}
#features li{
    height: 251px;
}
#features li::before{
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    top: 3em;
    border-radius: 100%;
    
}
#features ul:first-child li:nth-child(1)::before{
    background: url(img/devices-24px.svg) round white;;
    left: 2em;
    height: 2em;
    width: 2em;
    padding: 0.5em;
}
#features ul:first-child li:nth-child(2)::before{
    background-image: url(img/developer_board-24px.svg);
    left: 2em;
}
#features ul:first-child li:nth-child(3)::before{
    background-image: url(img/language-24px.svg);
    left: 2em;
}
#features ul:last-child li:nth-child(1)::before{
    background-image: url(img/touch_app-24px.svg);
    right: 2em;
}
#features ul:last-child li:nth-child(2)::before{
    background-image: url(img/touch_app-24px.svg);
    right: 2em;
}
#features ul:last-child li:nth-child(3)::before{
    background-image: url(img/chat-24px.svg);
    right: 2em;
}
#features .table .row>*{
display: table-cell;
background-color: #F7F7F7;
vertical-align: top;
}
#features ul h2{
    margin-bottom: 2em;
    font-size: 1.2em;
    font-weight: 700;
}
#features ul p{
    color: #777777; 
    font-size: 1.2em;  
}
/*Pe acasa de terminat animatii le si de facu adaptivitatea in toate trei dimensiuni*/